/* Write your CSS here */
@media (max-width: 768px) {
  .main-container {
    background-color: #ffd569;
    min-height: 100vh;
    background-size: cover;
    padding: 20px;
    font-family: 'Roboto';
  }
  .fruits-content-container {
    background-color: #ffffff;
    min-height: 80vh;
    padding: 20px;
    border-radius: 20px;
  }
  .main-heading {
    color: #000000;
    font-size: 30px;
    text-align: center;
  }
  .span {
    color: #ffd569;
    font-size: 30px;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imageBtnEl-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
  }
  .button {
    color: #ffffff;
    background-color: #007bff;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
    outline: none;
  }
}

@media (min-width: 768px) {
  .main-container {
    background-color: #ffd569;
    min-height: 100vh;
    background-size: cover;
    padding: 20px;
    font-family: 'Roboto';
  }
  .fruits-content-container {
    background-color: #ffffff;
    min-height: 80vh;
    padding: 20px;
    border-radius: 20px;
  }
  .main-heading {
    color: #000000;
    font-size: 30px;
    text-align: center;
  }
  .span {
    color: #ffd569;
    font-size: 30px;
  }
  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 80px;
  }
  .imageBtnEl-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
  }
  .button {
    color: #ffffff;
    background-color: #007bff;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
    outline: none;
    height: 40px;
    width: 100px;
  }
}
